.checkout {
    background-color: var(--green-two);
    padding: 2rem 4rem;

}

.checkout .back-link {
    color: var(--orange);
}

.checkout .back-link:hover {
    color: var(--green-one);
}

.checkout h3 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    font-family: var(--descriptive-font);
    color: var(--green-one);
    margin-bottom: 20px;
    ;
}

.ProgressBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.indexedStep {
    color: var(--green-one);
    width: 25px;
    height: 25px;
    font-size: 12px;
    background-color: var(--navbar-blue);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.indexedStep.accomplished {
    background-color: var(--green-one);
}

.indexedStep p,
.indexedStep.accomplished p {
    margin: 10px;
}

.indexedStep.accomplished .index,
.indexedStep .index {
    color: var(--green-four);
    font-size: 16px;
    margin-top: 2px;
}

.checkout .last-check {
    margin-top: 50px;
}

.checkout button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--green-one);
    color: var(--green-four);
    letter-spacing: 1.15px;
    font-family: var(--directive-font);
}

.checkout button:hover {
    background-color: var(--green-three);
    color: var(--green-one);
}

.checkout p {
    color: var(--green-one);
    font-family: var(--descriptive-font);
    font-size: 15px;
}

.order-complete {
    color: var(--checkout-green);
}


@media (max-width: 900px) {
    .checkout {
        padding: 2rem;
    }

    .checkout h3 {
        font-size: 28px;
    }

    .ProgressBar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .indexedStep {
        width: 20px;
        height: 20px;
        font-size: 10px;
        margin-right: 1rem;
        margin-bottom: 0;
        order: 2;
    }

    .indexedStep p,
    .indexedStep.accomplished p {
        margin: 0;
    }

    .indexedStep.accomplished .index,
    .indexedStep .index {
        font-size: 14px;
    }

    .checkout .last-check {
        margin-top: 30px;
    }

    .checkout button {
        width: 80px;
        height: 35px;
        margin-top: 1rem;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .checkout p {
        font-size: 10px;
    }
}

/* Step One */
.step-one .titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--green-four);
    padding-bottom: 0.5rem;
}

.step-one .items {
    border-top: 1px solid var(--green-four);
    padding: 1rem 0;
}

.step-one h5 {
    font-family: var(--descriptive-font);
    color: var(--green-one);
    padding-top: 1rem;
    margin: 0;
}

.step-one img {
    width: 75px;
    height: 75px;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
}

.step-one .product p {
    font-family: var(--headings);
    color: var(--green-one);
    font-size: 20px;
    margin: 0;
}

.step-one .quantity {
    display: flex;
    justify-content: center;
}

.step-one .quantity button {
    width: 25px;
    background-color: var(--green-four);
    height: 25px;
    border-radius: 15px;
    border: 1px solid var(--green-five);
}

.step-one .quantity button:hover {
    color: var(--navbar-blue);
}

.step-one .quantity .less {
    color: orangered;
}

.step-one .quantity .count {
    padding: 0.8rem 0;
    font-size: 20px;
    font-family: var(--headings);
    color: var(--green-one);
    margin: 0;
}

.step-one .quantity .more {
    color: var(--green-one);
}

.step-one .price,
.step-one .total {
    font-family: var(--descriptive-font);
    color: var(--green-one);
    margin: 0;
}

.step-one .total {
    justify-self: right;
    padding-right: 0.5rem;
    font-weight: 700;
}