/* Dashboard */

.farmer-dashboard {
    background-color: #F2F7F0;
        padding: 2rem 4rem;;
}

.farmer-dashboard h2 {
font-size: 40px;
    font-weight: 400;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #1F5229;
}

.farmer-dashboard .add-product-btn{
   font-weight: 'Poppins', serif;
   color: orangered;
   text-decoration: none;
   cursor: pointer;
   font-weight: 400;
    
}

.farmer-dashboard .add-product-btn:hover {
    color: #1F5229
}

.farmer-dashboard .delete-btn {
    height: 40px;
        border-radius: 5px;
        margin-top: 2rem;
        font-weight: 400;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #1F5229;
        color: #8fe051;
        letter-spacing: 1.15px;
}

.farmer-dashboard .delete-btn:hover {
    background-color: #BCE29E;
        color: #1F5229;
}

/*Add-Product */

.add-product {
    background-color: #F2F7F0;
        padding: 2rem 4rem;
}

.add-product h2 {
    font-size: 40px;
        font-weight: 400;
        text-align: center;
        font-family: 'Playfair Display', serif;
        color: #1F5229;
}

.add-product label {
    font-family: 'Poppins', serif;
        color: #1F5229;
        padding: 1rem;
}

.add-product .submit-btn {
    height: 40px;
        border-radius: 5px;
        margin-top: 2rem;
        font-weight: 400;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #1F5229;
        color: #8fe051;
        letter-spacing: 1.15px;

}

.add-product .submit-btn:hover {
    background-color: #BCE29E;
        color: #1F5229;
}

/*Product */

.products {
    background-color: #F2F7F0;
    padding: 2rem 4rem;
}

.products h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #1F5229;
}

.products label {
    font-family: 'Poppins', serif;
    color: #1F5229;
    padding: 1rem;
}

.products .save-btn,
.products .delete-btn {
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1F5229;
    color: #8fe051;
    letter-spacing: 1.15px;

}

.products .save-btn:hover,
.products .delete-btn:hover {
    background-color: #BCE29E;
    color: #1F5229;
}

/*Side-nav*/

.farmer-dashboard {
    display: flex;
    height: 100vh;
}

.farmer-dashboard .side-nav {
    border-right: #8fe051;
    height: calc(100vh - 70px);
    position: fixed;
    overflow-y: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.farmer-dashboard h3 {
    margin: 0 0 1rem 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 17px;
}

.farmer-dashboard a {
    text-decoration: none;
    margin-bottom: 1 rem;
    font-size: 14px;
}

.farmer-dashboard .content {
    margin-left: 200px;
    padding: 2rem 3rem;
    width: calc(100% - 200px);
}

.farmer-dashboard .link-active {
    color: orangered;
}

.farmer-dashboard .link-inactive {
    color: #8fe051;
}

/*FarmerProducts.js */

.farmer-products,
.create-product {
    display: flex;
    justify-content: space-between;
}

.farmer-products button {
    padding: 9px 12px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    background-color: #1F5229;
    color: #BCE29E;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0.5rem 0;
}

.styled-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 2rem;
}

.styled-form select,
input {
    padding: 7px;
    min-height: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #1F5229;
    margin: 0.3rem, 0;
}

.styled-form select {
    color: #1F5229;
}

.image-preview {
    margin: 2rem 0 2rem 2rem;
    padding: 2rem;
    border: 1px solid #1F5229;
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #1F5229;
}

.farmer-products img {
    max-width: 100%;
}

.create-submit {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1F5229;
        color: #8fe051;
        letter-spacing: 1.15px;
    }
    
    .create-submit:hover {
        background-color: #BCE29E;
        color: #1F5229;
    }