.about {
    background-color: #EEEEEE;
    color:orange;
    
}

.about h1 {
    font-family: 'Playfair Display',
        serif;
}

.about h6 {
    font-family: 'Poppins', serif;
    color: #357402;
}

@media (max-width: 900px) {
    .row>.col-6>p {
        display: none;
    }

    .row>.col-6>h6 {
        cursor: pointer;
    }

    .row>.col-6>h6.active+p {
        display: block;
    }

    p{
        display: none;
    }

    h6{
        cursor: pointer;
    }

        h6.active+p {
            display: block;
}
}