.about {
    background-color: #D8F7CA;
        color: #1F5229;
}

.about h2 {
    font-size: 40px;
        font-weight: 400;
        text-align: center;
        font-family: 'Playfair Display', serif;
        color: #1F5229;
}

.about h6 {
    font-family: 'Times New Roman', Times, serif;
    color: #357402;
    font-size: 20px;
}

@media (max-width: 900px) {
    .row>.col-6>p {
        display: none;
    }

    .row>.col-6>h6 {
        cursor: pointer;
    }

    .row>.col-6>h6.active+p {
        display: block;
    }

    p{
        display: none;
    }

    h6{
        cursor: pointer;
    }

        h6.active+p {
            display: block;
}
}