.basket {

    background-color: #F2F7F0;
    padding: 2rem 4rem;
}

.basket h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color:#1F5229 ;
}

.basket .next-link {
    color: #F76400;
    cursor: pointer;
    position: absolute;
        top: 200px;
        right: 20px;

}

.basket .next-link:hover {
    color: #1F5229;
}

.basket .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
   
}

.basket .product {
    width: 250px;
    max-width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    background-color: #D8F7CA;
    box-shadow: -5px -5px 10px 
    rgba(255, 255, 255, 0.5), 
    2px 2px 5px 
    rgba(94, 104, 121, 0.3);
}

.basket img {
    width: 200px;
    height: 200px;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}

.basket h3 {
    font-size: 25px;
    font-weight: 400;

}

.basket .details {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.basket .details .price {
    font-weight: 20px;
    font-weight: 700;

}

.basket button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    background-color:#1F5229;
    color: #8fe051;
    letter-spacing: 1.15px;
}

.basket button:hover {
    background-color: #BCE29E;
    color: #1F5229;
}

/*Basket-One*/

.basket-container {
    padding: 2rem 4rem;
    background-color: #F2F7F0;
}



.basket-container h2 {
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    color: #1F5229;
    font-size: 30px;
    text-align: center;
}

.basket-container .titles {
    margin: 2rem 0 1rem 0;

}

.basket-container .titles h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.basket-item, .basket-container .titles {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;

}

.basket-item {
    border-top: 1px solid rgb(187, 187, 187);
    padding: 1rem 0;

}

.basket-container .titles .product-title {
    padding-left: 0.5rem;

}

.basket-container .titles .total {
    padding-right: 0.5rem;
    justify-self: right;
}

.basket-item .basket-product {
    display: flex;

}

.basket-item .basket-product img {
    width: 100px;
    max-width: 100%;
    margin-right: 1rem;
    height: 100px;
    border-radius: 12px;

}

.basket-item .basket-product h3 {
    font-weight: 400;
}

.basket-item .basket-product button {
    border: none;
    outline: none;
    margin-top: 0.7rem;
    cursor: pointer;
    background: none;
    color: orange;
    
    
}

.basket-item .basket-product button:hover {
    color: orangered;
}

.basket-product-quantity {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 130px;
    max-width: 100%;
    border: 0.5px solid #D8F7CA;
    border-radius: 5px;
}

.basket-product-quantity button {
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.basket-product-quantity .less {
    color: orangered;
}

.basket-product-quantity .more {
    color: green;
}
.basket-product-quantity .count {
    padding: 0.8rem 0;
    font-size: 20px;
}

.basket-product-total-price {
    justify-self: right;
    padding-right: 0.5rem;
    font-weight: 700;
}

/*Basket Summary */

.basket-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #D8F7CA;
    padding-top: 2rem;
}

.basket-summary .clear-basket {
    width: 130px;
    max-width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid #D8F7CA;
    color: orangered;
    background: #2B6302;
    cursor: pointer;
    outline: #2B6302;
}

.basket-summary .clear-basket:hover {
    background: #F76400;
    color: #2B6302 ;
    
}

.basket-checkout {
    width: 270px;
    max-width: 100%;

}

.basket-checkout .sub-total {
    display: flex;
    justify-content: space-between;
    font-size:20px;

}

.basket-checkout p {
    font-size: 14px;
    font-weight: 200;
    margin: 0.5rem 0;

}

.basket-checkout button {
    width: 100%;
        height: 40px;
        border-radius: 5px;
        font-weight: 400;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #1F5229;
        color: #8fe051;
        letter-spacing: 1.15px;

}

.basket-checkout button:hover {
    background-color: #4BB543;
        color: #1F5229;
        font-weight: 450;
}

.start-shopping, .continue-shopping {
    margin-top: 1rem;

}

.start-shopping a,
.continue-shopping a {
    color: #F76400;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.start-shopping a:hover,
.continue-shopping a:hover {
    color: #1F5229;
}

.basket-empty {
    font-size: 20px;
    margin-top: 2rem;
    display: flex;
    color: #1F5229;
    flex-direction: column;
    align-items: center;
}

.start-shopping a span,
.continue-shopping a span {
    margin-left: 0.5rem;
}

.basket-container .back-link {
    color: #F76400;
    cursor: pointer;
}

.basket-container .back-link:hover {
    color: #1F5229;
}

