.category {
    background-color: #F2F7F0;
    padding: 2rem 4rem;

}

.category h3 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #1F5229;
}

 .category .btn-success {
     background-color: orange !important;
     color: white !important;
     font-family: 'Poppins',
         serif;

 }

 .category li {
     list-style: none;
     color: #357402;
     font-size: 28px;

 }

 @media (max-width: 900px) {
    .category {
        height: 225px;
    }
 }

 .category .back-link {
     color: #F76400;
     cursor: pointer;
     position: absolute;
     top: 180px;
     left: 20px;

 }

 .category .back-link:hover {
     color: #1F5229;
 }

 

 .category .next-link {
     color: #F76400;
     cursor: pointer;
     position: absolute;
     top: 175px;
     right: 20px;

 }

 .category .next-link:hover {
     color: #1F5229;
 }

 

 