 .category {
     height: 450px;
     background-color: #EEEEEE;
     

 }

 .category img {
    height: 170px;
    width: 150px;
 }

 .category h1 {
     font-family: 'Playfair Display', serif;
     color: #357402 !important;

 }

 .category h3 {
     font-family: 'Playfair Display', serif;
     color: orange;
 }

 .category .btn-success {
     background-color: orange !important;
     color: white !important;
     font-family: 'Poppins',
         serif;

 }

 .category li {
     list-style: none;
     color: #357402;
     font-size: 28px;

 }

 @media (max-width: 900px) {
    .category {
        height: 225px;
    }
 }

 .category .back-link {
     color: #F76400;
     cursor: pointer;
     position: absolute;
     top: 180px;
     left: 20px;

 }

 .category .back-link:hover {
     color: #1F5229;
 }