.hero {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-color: #EEEEEE;
    background-size: cover;
    background-position: center;
    height: 500px;
    font-family: 'Playfair Display', serif;
    
}
 
.hero .open-sign {
    top: 150px;
    right: 0px;
    text-align: right;
}
 
.text-below-image {
    text-align: right;
    margin-right: 250px;
    
}

.hero h2,
h3 {
    color: #2B6302;
}


.hero .btn-outline {
    background-color: #2B6302 !important;
        
}

.hero .btn-primary {
    background-color: #2B6302!important;
}

.hero button {
    font-family: 'Poppins', serif;
}

.hero button {
    margin: 25px !important;
    transition: all 200ms ease;
    opacity: 1;
}

.hero button:hover {
    cursor: pointer;
    opacity: 0.7;
    background-color: #2B6302 !important;


}

.hero .call-to-action {
    font-family: 'Poppins', serif;
    margin: 70px;
}

  @media only screen and (max-width: 900px) {
      .hero {
          height: 300px;
        background-image: url("../images/inverted-hero.jpg");
      }

      .hero .open-sign {
          display: none;
      }

      .text-below-image {
          top: 180px;
          text-align: center;
          margin-right: 72px;
          
    
          
      }

         


      .hero .call-to-action {
          margin: 30px;
      }
  }
