body {
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    
}

h2,
h3 {
    color: #FF8904;
}

.container {
    margin: 70px;
    padding: 70px;
    


}

.hero {
    font-family: 'Playfair Display', serif;
}


.btn-outline {
    background-color: #03989E !important;
}

.btn-primary {
    background-color: #03989E !important;
}

button {
    margin: 25px !important;
    transition: all 200ms ease;
    opacity: 1;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
    background-color: #FF8904 !important;


}

.call-to-action {
    font-family: 'Poppins', serif;
    margin: 70px;
}