.navbar .container {
    width: 100% !important;
    white-space: nowrap;

}


.navbar-style {
    background-color: #00929C !important;
}

.navbar li {
font-family: 'Poppins', serif;

}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link.active {
  
   font-family: 'Poppins', serif;
   color: #BCE29E;
   font-size: 18px;
}
